<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contactus">Contact us</a>
                </li>
                <button type="button" class="btn btn-primary position-relative" (click)="donationclick()">
                    Donate 10 €
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      €{{donation}}
                    </span>
                  </button>
                <div class="text-light position-absolute bottom-0 start-50">
                    <ng-template [ngIf]="donation >= 200" [ngIfElse]="loser">
                        <h3> VIP </h3>
                    </ng-template>

                    <ng-template #loser>
                        <h3> Beginner </h3>
                    </ng-template>

                </div>


            </ul>
            <form class="d-flex " role="search ">
                <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-outline-success " type="submit ">Search</button>
            </form>
        </div>
    </div>
</nav>