<!-- 
<div class="container">
                <div class="card">
                <img src="/assets/img/{{car.pic}}" style="width: 100%;" alt="">   
        </div>
    </div> -->
<div class="container">
    <div class="row row-cols-3">
        <div *ngFor = "let car of oldtimers" >
    <div class="center">
        <div class="property-card">
          <a href="#">
            <div class="property-image">
              <div class="property-image-title">
                <img src="/assets/img/{{car.pic}}" style="width: 100%;" alt="">
              </div>
            </div>
          </a>
          <div class="property-description">
            <h5>{{car.name}}</h5>
            <p>This car was build in the year {{car.age}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
   